/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT * FROM Customers

--SELECT * FROM Customers WHERE City in ('London', 'Paris')

--SELECT DISTINCT City FROM Customers

--SELECT FirstName FROM Employees ORDER BY FirstName Asc

--SALARIES NOT IN DATABASE

--SELECT UnitPrice * Quantity * Discount FROM[Order Details] WHERE Discount IS NOT NULL



